<div role="tabpanel" class="tab-pane" id="service_providers">
    <div class="row">
        <div class="col-md-12">
            <div class="full_width">
                <p class="more_for_git_card">Over 500+ Network Service Providers around India
                    <span>&nbsp;<img src="{{imgPrePath}}icons/arrowgreen.png"></span>&nbsp; <a href="sp_hospital.html">Explore All</a>
                </p>
            </div>
            <div class="full_width">
                <div class="otp_scr2 otp_scr23">
                    <div class="input-group">
                        <label for="city" class="fa fa-building" rel="tooltip" title="city"></label>
                        <input id="msg" type="text" class="form-control" name="msg" placeholder="Type your city name *">
                        <a href="sp_result.html"><span class="input-group-addon">Search</span></a>
                    </div>
                </div>
            </div>
            <div class="full_width">
                <section class="car_top_city" id="demos">
                    <p>Top Search Result</p>
                    <div class="div_slde_main">
                        <div class="large-12 columns">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <img src="{{imgPrePath}}hyd.png">
                                    <span>Hyderabad</span>
                                </div>
                                <div class="item">
                                    <img src="{{imgPrePath}}ban.png">
                                    <span>Bangalore</span>
                                </div>
                                <div class="item">
                                    <img src="{{imgPrePath}}che.png">
                                    <span>Chennai</span>
                                </div>
                                <div class="item">
                                    <img src="{{imgPrePath}}hyd.png">
                                    <span>Chennai</span>
                                </div>
                                <div class="item">
                                    <img src="{{imgPrePath}}dhe.png">
                                    <span>Mumbai</span>
                                </div>
                                <div class="item">
                                    <img src="{{imgPrePath}}hyd.png">
                                    <span>delhi</span>
                                </div>
                                <div class="item">
                                    <img src="{{imgPrePath}}mum.png">
                                    <span>Hyderabad</span>
                                </div>
                                <div class="item">
                                    <img src="{{imgPrePath}}hyd.png">
                                    <span>Hyderabad</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>