<div role="tabpanel" class="tab-pane" id="discount_cards">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="full_width discount_card_tab">
                <a routerLink='dc_result'><img src="{{imgPrePath}}card.png"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
            <div class="full_width">
                <a routerLink='dc_result'><img src="{{imgPrePath}}card1.png"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
            <div class="full_width">
                <a routerLink='dc_result'><img src="{{imgPrePath}}card2.png"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
            <div class="full_width">
                <a routerLink='dc_result'><img src="{{imgPrePath}}card3.png"></a>
            </div>
        </div>
        <div class="col-md-12 disc_div_a">
            <a routerLink='dc_result' class="search_vtm btn btn-4 btn-4c icon-arrow-right">explore all benefits</a>
        </div>
    </div>
</div>