<div role="tabpanel" class="tab-pane" id="discount_cards">
    <div class="row">
        <div class="div_slde_main">
            <div class="large-12 columns">
                <div class="owl-carousel owl-theme">
                    <div class="item col-md-3 col-sm-3 col-xs-12" *ngFor='let data of dcData'>
                        <a routerLink='dc_result'><img src="{{data.image}}"></a>
                    </div>
                    <!-- <div class="item">
                        <img src="{{imgPrePath}}health5.png">
                        <span>Complete Body Check-Up</span>
                    </div>
                    <div class="item">
                        <img src="{{imgPrePath}}health5.png">
                        <span>Complete Body Check-Up</span>
                    </div>
                    <div class="item">
                        <img src="{{imgPrePath}}health5.png">
                        <span>Complete Body Check-Up</span>
                    </div>
                    <div class="item">
                        <img src="{{imgPrePath}}health5.png">
                        <span>Complete Body Check-Up</span>
                    </div>
                    <div class="item">
                        <img src="{{imgPrePath}}health5.png">
                        <span>Complete Body Check-Up</span>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-12 disc_div_a">
            <a routerLink='dc_result' class="search_vtm btn btn-4 btn-4c icon-arrow-right">explore all benefits</a>
        </div>
    </div>
</div>