
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="how_it_works">
                    <h2>How it Works</h2>
                    <div class="row">
                        <div  *ngFor='let work of howItWorks' class="col-md-6 {{work.classType}}">
                            <div class="how_it_works_in">
                                <p><span><i class="{{work.iconVal}}" aria-hidden="true"></i></span> {{work.label}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="acc">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading active">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    1. How Appointments Help Us?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>To avoid unwanted waiting time Queues.</p>
                                    <p>To get guaranteed discount of minimum 10% on all services offered by the clinic. </p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    2. Why we need Preventive Health Checks?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Today's urban lifestyle putting our Health System at risk.</p>
                                    <p>The Preventive Health Checks will help us to know our exact health status and to take
                                        precautions to avoid unwanted medical emergencies in future.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    3. Can I use the Health Card the moment I buy it?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You can start using the Card as soon as you buy it.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    4. Does the card covers the cashless treatment as Medical Insurance Covers?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No, since we are not representatives of any Health Insurance / Any Healthcare Provider
                                        Brand we do not provide any cashless treatment for any service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    5. Do we need to carry any physical card to avail the benefits of the discount card at Service Provider?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. You can avail the services by providing your Registered Mobile Number / Email ID
                                        along with any personal ID Proof.</p>
                                    <p>Kindly contact your "Health Adviser" or 24/7 call centre in case of any inconvenience
                                        at service providers' facility.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-story">
    <div class="story-preview">
        <img width="1920" height="1080" src="{{imgPrePath}}doctor12.png" class="auto-size" alt="" srcset="{{imgPrePath}}doctor12.png"
            sizes="(max-width: 1920px) 100vw, 1920px">
        <div class="view_profile" href="#">Dr Hari Prasad <span>Dental Surgeon</span></div>
    </div>
    <div class="story-content">
        <div>
            <span>Doctor says:</span>
            <p>Qlick Health is an excellent online Portal which provides flexible medical services to the patients. I feel Satisfied
                by registering in this Phelath. I find myself satisfied in providing the best medical checkups by simply
                registering in Qlick Health Online Medical Portal.</p>
            <h1>040-234567890</h1>
            <a href="#" class="search_vtm btn btn-4 btn-4c icon-arrow-right">Make an appointment</a>
            <img src="{{imgPrePath}}sign.png">
        </div>
    </div>
</section>
<section class="host_main_div">
    <div class="hospitals_u">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="hosptal_inner">
                        <h2>Our Story</h2>
                        <p>Every person who walks through our doors has a unique story. At….. Hospital, we do our best to help
                            everyone we meet to overcome challenges and move toward a healthier, happier life. the center
                            boasts of its ability to deliver total care to patients undergoing various treatments within
                            a pleasant ambiance that guarantee comfort & relaxation through the procedure. Our andrology
                            & embryology lab are built keeping in mind the global standards & adheres to strict quality control
                            measures. We maintain 24 Hrs power back up through a high powered generator dedicated to service
                            this unit & thereby we guarantee the absolute safety of all embryos. Till date, our pregnancy
                            results have been consistently on par with international averages</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>