<section class="clients">
    <div class="container">
        <div class="row header-row">
            <div class="col-md-offset-2 col-md-8 title">
                <h2>Our Partners</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel carousel-showmanymoveone slide" id="carousel123">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c1.png" class="img-responsive"></a></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c2.png" class="img-responsive"></a></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c3.png" class="img-responsive"></a></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c4.png" class="img-responsive"></a></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c1.png" class="img-responsive"></a></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c2.png" class="img-responsive"></a></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c5.png" class="img-responsive"></a></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="{{imgPrePath}}c3.png" class="img-responsive"></a></div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel123" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="right carousel-control" href="#carousel123" data-slide="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>