<div role="tabpanel" class="tab-pane" id="gift_health">
    <div class="row">
        <div class="col-md-12">
            <div class="full_width">
                <p class="more_for_git_card">Gift Health to your friends or family and make them happy
                    <span>&nbsp;<img src="{{imgPrePath}}icons/arrowgreen.png"></span>&nbsp; <a routerLink='gh_result'>Explore All</a>
                </p>
            </div>
            <div class="full_width health_che_div_com_main">
                <div class="health_che_div health_che_div_com">
                    <p class="qa-faq-title" id="optWeekly" data-target="#scheduleWeekly" data-toggle="tab">
                        <span class="fa fa-heartbeat"></span> Preventive Health Checks
                    </p>
                </div>
                <div class="disc_div health_che_div_com">
                    <p class="qa-faq-title" id="optMonthly" data-target="#scheduleMonthly" data-toggle="tab">
                        <span class="fa fa-gift"></span> Discount Cards
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-content" style="padding-top: 40px;">
            <div id="scheduleWeekly" class="tab-pane">
                <div class="row">
                    <app-hc-search-form [isModal]='false'></app-hc-search-form>
                    <div class="full_width health_check_t_cpnt">
                        <app-top-specialists [type]=' "hc" '></app-top-specialists>
                    </div>
                </div>
            </div>
            <div id="scheduleMonthly" class="tab-pane">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="full_width discount_card_tab">
                            <a href="dc.html"><img src="{{imgPrePath}}card.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
                        <div class="full_width">
                            <a href="dc.html"><img src="{{imgPrePath}}card1.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
                        <div class="full_width">
                            <a href="dc.html"><img src="{{imgPrePath}}card2.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
                        <div class="full_width">
                            <a href="dc.html"><img src="{{imgPrePath}}card3.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dvPassport" style="display: none">
            Passport Number:
            <input type="text" id="txtPassportNumber" />
        </div>
        <div id="chkPassport2" style="display: none">
            Passport Number:
            <input type="text" id="txtPassportNumber" />
        </div>
    </div>
</div>