<div role="tabpanel" class="tab-pane" id="gift_health">
    <div class="row">
        <div class="col-md-12">
            <div class="full_width">
                <p class="more_for_git_card">Gift Health to your friends or family and make them happy
                    <span>&nbsp;<img src="{{imgPrePath}}icons/arrowgreen.png"></span>&nbsp; <a href="gh.html">Explore All</a>
                </p>
            </div>
            <div class="full_width health_che_div_com_main">
                <div class="health_che_div health_che_div_com">
                    <p class="qa-faq-title" id="optWeekly" data-target="#scheduleWeekly" data-toggle="tab">
                        <span class="fa fa-heartbeat"></span> Preventive Health Checks
                    </p>
                </div>
                <div class="disc_div health_che_div_com">
                    <p class="qa-faq-title" id="optMonthly" data-target="#scheduleMonthly" data-toggle="tab">
                        <span class="fa fa-gift"></span> Discount Cards
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-content" style="padding-top: 40px;">
            <div id="scheduleWeekly" class="tab-pane">
                <div class="row">

                    <form>
                        <div style="width: 30% !important;" class="form-group custom_md_3 custom_md_gift custom_md_home">
                            <div class="icon-addon addon-md">
                                <input type="text" placeholder="General/Specific" class="form-control" id="email">
                                <label for="email" class="fa fa-user" rel="tooltip" title="email"></label>
                            </div>
                        </div>
                        <div style="width: 16%;" class="form-group custom_md_2">
                            <div class="icon-addon addon-md">
                                <input type="text" placeholder="Age Group" class="form-control" id="email">
                                <label for="email" class="fa fa-users" rel="tooltip" title="email"></label>
                            </div>
                        </div>
                        <div style="width: 16%;" class="form-group custom_md_2">
                            <div class="icon-addon addon-md">
                                <input type="text" placeholder="Gender" class="form-control" id="email">
                                <label for="email" class="fa fa-transgender" rel="tooltip" title="email"></label>
                            </div>
                        </div>
                        <div style="width: 16%;" class="form-group custom_md_2">
                            <div class="icon-addon addon-md">
                                <input type="text" placeholder="Condition" class="form-control" id="email">
                                <label for="email" class="fa fa-file" rel="tooltip" title="email"></label>
                            </div>
                        </div>
                        <div class="custom_md_2">
                            <a href="hc_result.html" class="search_vtm btn btn-4 btn-4c icon-arrow-right" type="submit">Search Now</a>
                        </div>
                    </form>
                    <div class="full_width health_check_t_cpnt">
                        <section class="car_top_city" id="demos">
                            <p>TOP SEARCH Preventive Health Checks</p>
                            <div class="div_slde_main">
                                <div class="large-12 columns">
                                    <div class="owl-carousel owl-theme">
                                        <div class="item">
                                            <img src="{{imgPrePath}}health5.png">
                                            <span>Complete Body Check-Up</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{imgPrePath}}health6.png">
                                            <span>Well Woman Check-Up</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{imgPrePath}}health7.png">
                                            <span>Basic Health Check-Up</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{imgPrePath}}health8.png">
                                            <span>Child Health Check-Up</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{imgPrePath}}health9.png">
                                            <span>Comprehensive Heart Check-Up</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{imgPrePath}}health6.png">
                                            <span>Essential Health Check-Up</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div id="scheduleMonthly" class="tab-pane">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="full_width discount_card_tab">
                            <a href="dc.html"><img src="{{imgPrePath}}card.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
                        <div class="full_width">
                            <a href="dc.html"><img src="{{imgPrePath}}card1.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
                        <div class="full_width">
                            <a href="dc.html"><img src="{{imgPrePath}}card2.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 discount_card_tab">
                        <div class="full_width">
                            <a href="dc.html"><img src="{{imgPrePath}}card3.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dvPassport" style="display: none">
            Passport Number:
            <input type="text" id="txtPassportNumber" />
        </div>
        <div id="chkPassport2" style="display: none">
            Passport Number:
            <input type="text" id="txtPassportNumber" />
        </div>
    </div>
</div>