<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 no_padding_right">
                <div class="about_img">
                </div>
            </div>
            <div class="col-md-6 no_padding_left">
                <div class="about_congent">
                    <h2>Welcome Message</h2>
                    <p>Welcome to Qlick Health. We are your "HEALTHCARE REPRESENTATIVES" whereas we help you with our unmatched
                        Personalized Assistance in Fixing Appointments with Top Practitioners, Individual Wellness Planning
                        with Custom Health Checks with bringing Corporate Healthcare Services closer to you with never before
                        discount offers and affordability.</p>
                    <p>With the help of the advancements in Information Technology, we have developed the world class robust
                        online tools and apps to take care of all your and your families' healthcare needs.</p>
                    <a href="#" class="search_vtm btn btn-4 btn-4c icon-arrow-right">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>