<nav class="navbar navbar-default navbar-fixed-top inner_nav_menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" (click)='navigateToMain()'><img src="../../assets/img/logo1.png" style='cursor:pointer'></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right custom_nav nav_inner">
                <li class="call_li_menu" style="margin-right: 20px;"><a><span class="call_span"><i class="fa fa-phone" aria-hidden="true"></i></span>Call Us : 040-12345678</a></li>
                <li><a>For Corporates</a></li>
                <li><a>For Health Providers</a></li>
                <li><a>Contact</a></li>
                <li>
                    <ul class="use_menu nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user-o"></span></a>
                            <ul class="dropdown-menu">
                                <li><a>Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a>User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a>Messages <span class="badge pull-right"> 42 </span></a></li>
                                <li class="divider"></li>
                                <li><a>Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a>Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="nav_second">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li [ngClass]="{'active': activeClass == 'ap'}"><a><span class="fa fa-calendar"></span>Appointments</a></li>
                    <li [ngClass]="{'active': activeClass == 'hc'}"><a><span class="fa fa-heartbeat"></span>Health Checks</a></li>
                    <li [ngClass]="{'active': activeClass == 'dc'}"><a><span class="fa fa-credit-card"></span>Discount Cards</a></li>
                    <li [ngClass]="{'active': activeClass == 'gh'}"><a><span class="fa fa-gift"></span>Gift Health</a></li>
                    <li [ngClass]="{'active': activeClass == 'sp'}"><a><span class="fa fa-phone"></span>Service Providers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>