<section class="testmonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-center m-auto">
                <h2>What People say</h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="img-box"><img src="{{imgPrePath}}test1.jpg" alt=""></div>
                            <p class="testimonial">It has excellent doctors, excellent user interface, very very user friendly, has options for
                                free consultations also, even the paid options have excellent worth.</p>
                            <p class="overview"><b>Keerthi</b>, Software Employee</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box"><img src="{{imgPrePath}}test2.jpg" alt=""></div>
                            <p class="testimonial">The overall experience was excellent and the test package was extensive.“I gifted the checkup
                                package to my mother. This must be among the best things I could have ever given her. My
                                mother and I were very satisfied with our experience. It has been a pleasure using the services
                                of PHealth. They are excellent.</p>
                            <p class="overview"><b>Mohan</b>, Industrylist</p>
                        </div>

                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>