
ul li ul.dropdown{
    min-width: 115%; /* Set width of the dropdown */
    background: #FFFFFF;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown, ul li ul.dropdown li{
    display: block;
}
.login-dropdown li a {
    color: black !important;
}
ul li {
    height: 28px !important;
    cursor: pointer;
}