<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="full-widrth">
                    <h4>About us</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing<br> and typesetting industry. Lorem Ipsum has<br> been
                        the industry's standard dummy text</p>
                    <img src="{{imgPrePath}}logo.png">
                </div>
            </div>
            <div class="col-md-2">
                <div class="full-widrth">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Vision</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full-widrth">
                    <h4>Contact Us</h4>
                    <p>#658, 3rd Floor, Ayyappa Socitey, Madhapur, Hyderabad, 500081, Telangana </p>
                    <p>+91 8686768612,</p>
                    <p>contact@mbrinformatics.com</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full-widrth">
                    <h4>Subscribe Us</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="#">
                                <div class="input-group">
                                    <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email Address" required>
                                    <button class="btn btn-lg" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                </div>
                            </form>
                            <!--<small class="promise"><em>We won't send spam.</em></small>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li><a href="#">Teram of Conditions</a></li>
                    <li><a href="#">How it Works</a></li>
                    <li><a href="#">Cancellation & Refund</a></li>
                    <li><a href="#">Disclaime</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>Copyright © 2017 MBR Informatics, All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>