/* You can add global styles to this file, and also import other style files */

.ap-search-ngprime span {
    width: 100%;
}
.ap-search-ngprime span input {
        width: 100%;
        border: none;
        outline: none;
        margin-left: 10%;
 }
 .pac-container {
    z-index: 1051 !important;
}
/* .paginator-ap-result {
    margin-top: 2% !important;
    bottom: 5% !important;
    position: relative !important;
    left: 20% !important;
} */
.app_list_menu li {
    margin-left: 35px !important;
    width: 100% !important;
    text-align: left !important;
}