<div role="tabpanel" class="tab-pane health_checks_le_pa" id="health_checks">
    <div class="row">
        <div class="full_width">
            <p class="more_for_git_card">Over 10+ Customzied Health Checks
                <span>&nbsp;<img src="{{imgPrePath}}icons/arrowgreen.png"></span>&nbsp; <a>Explore All</a>
            </p>
        </div>
        <!-- START OF HC SEARCH COMPONENT -->
        <app-hc-search-form [isModal]='false' (close)='searchHCRes($event)'></app-hc-search-form>
        <!--  END OF HC SEARCH COMPONENT -->
        <div class="full_width health_check_t_cpnt">
            <app-top-specialists [type]=' "hc" '></app-top-specialists>
        </div>
    </div>
</div>