<div role="tabpanel" class="tab-pane health_checks_le_pa" id="health_checks">
    <div class="row">
        <div class="full_width">
            <p class="more_for_git_card">Over 10+ Customzied Health Checks
                <span>&nbsp;<img src="{{imgPrePath}}icons/arrowgreen.png"></span>&nbsp; <a>Explore All</a>
            </p>
        </div>
        <!-- START OF HC SEARCH COMPONENT -->
        <app-hc-search-form [isModal]='false' (close)='searchHCRes($event)'></app-hc-search-form>
        <!--  END OF HC SEARCH COMPONENT -->
        <div class="full_width health_check_t_cpnt">
            <section class="car_top_city" id="demos">
                <p>TOP SEARCH HEALTHCHECK</p>
                <div class="div_slde_main">
                    <div class="large-12 columns">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="{{imgPrePath}}health5.png">
                                <span>Complete Body Check-Up</span>
                            </div>
                            <div class="item">
                                <img src="{{imgPrePath}}health6.png">
                                <span>Well Woman Check-Up</span>
                            </div>
                            <div class="item">
                                <img src="{{imgPrePath}}health7.png">
                                <span>Basic Health Check-Up</span>
                            </div>
                            <div class="item">
                                <img src="{{imgPrePath}}health8.png">
                                <span>Child Health Check-Up</span>
                            </div>
                            <div class="item">
                                <img src="{{imgPrePath}}health9.png">
                                <span>Comprehensive Heart Check-Up</span>
                            </div>
                            <div class="item">
                                <img src="{{imgPrePath}}health6.png">
                                <span>Essential Health Check-Up</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>